<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdventureWorks.Properties.Settings.AdventureWorks2017ConnectionString2"
            connectionString="Data Source=DESKTOP-ORQR3B8;Initial Catalog=AdventureWorks2017;Integrated Security=True" />
        <add name="AdventureWorks.Properties.Settings.AdventureWorks2017ConnectionString1"
            connectionString="Data Source=DESKTOP-N638BE9;Initial Catalog=AdventureWorks2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>